.botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180.125px;
    height: 54px;
    flex-shrink: 0;
    margin-right: 32px;

    font-family: sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--color-white);
    text-align: center;

    border-radius: 4px;
    border: 2px solid var(--color-primary);
    background: var(--color-black-dark);
    cursor: pointer;
    transition: all 600ms ease-in-out;
}

.botao:hover {
    border: 2px solid var(--color-white);
    background: linear-gradient(transparent 0%, var(--color-white) 300%);
}